@import "tailwindcss";

.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 1rem;
    border: 1px solid #ccc;
}
p{
    font-size: 1rem;
    color: #666;
}

.list{
    list-style-type: disc;
    padding-left: 2rem;
}
ul{
    list-style-type: disc;
    padding-left: 2rem;
}

.list code{
    color: #e97e7e;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

code{
    background-color: #f0f0f0;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    white-space: pre-wrap;
}